body{

background: rgba(222,111,60,1);
background: -moz-linear-gradient(left, rgba(222,111,60,1) 0%, rgba(155,159,110,1) 45%, rgba(74,217,172,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(222,111,60,1)), color-stop(45%, rgba(155,159,110,1)), color-stop(100%, rgba(74,217,172,1)));
background: -webkit-linear-gradient(left, rgba(222,111,60,1) 0%, rgba(155,159,110,1) 45%, rgba(74,217,172,1) 100%);
background: -o-linear-gradient(left, rgba(222,111,60,1) 0%, rgba(155,159,110,1) 45%, rgba(74,217,172,1) 100%);
background: -ms-linear-gradient(left, rgba(222,111,60,1) 0%, rgba(155,159,110,1) 45%, rgba(74,217,172,1) 100%);
background: linear-gradient(to right, rgba(222,111,60,1) 0%, rgba(155,159,110,1) 45%, rgba(74,217,172,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de6f3c', endColorstr='#4ad9ac', GradientType=1 );
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc5420', endColorstr='#08a676', GradientType=1 );
}

.logo{
	color: white;
}